@using HotelierAPI_EntityLayer.Concrete
@model List<AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    var count = 0;
}

<h1>Rol Listesi</h1>

<table class="table table-xs mb-0">
    <thead>
        <tr>
            <th>#</th>
            <th>Rol</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@{++count;}@count</td>
                <td>@item.Name</td>
                <td><a href="/Role/DeleteAppRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
                <td><a href="/Role/UpdateAppRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="~/Role/AddAppRole/" class="btn btn-outline-primary">Ekle</a>

