<div class="row">
    
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="social-graph-wrapper widget-googleplus">
                <span class="s-icon"><i class="fa fa-google-plus"></i></span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1"> @ViewBag.InstagramFollowing</h4>
                        <p class="m-0">Takip Edilenler</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1"> @ViewBag.InstagramFollower</h4>
                        <p class="m-0">Takipçiler</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="social-graph-wrapper widget-twitter">
                <span class="s-icon"><i class="fa fa-twitter"></i></span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.XFollowing</h4>
                        <p class="m-0">Takip Edilnler</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.XFollower</h4>
                        <p class="m-0">Takipçiler</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>