@using HotelierAPI_WebUI.DTOs.RoomDTO
@model List<ResultRoomDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Oda Numarası</th>
        <th>Oda Adı</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        ++count;
        <tr>
            <td>@count</td>
            <td>@item.RoomNumber</td>
            <td>@item.Title</td>
            <td><a href="/RoomAdmin/UpdateRoom/@item.RoomId" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
            <td><a href="/RoomAdmin/DeleteRoom/@item.RoomId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/RoomAdmin/AddRoom/" class="btn mb-1 btn-rounded btn-outline-info">Oda Ekle</a>


